<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>checkBoxes</h1>
        <form action="{% url 'select_multiple_accessrecord' %}" method="POST">
            {% csrf_token %}
           <label for="">select_webpages:</label>
            <br>
            {% for wo in webpages %}
                <label for="na">{{wo.name}}</label>
                <input type="checkbox" name="na" id="na" value="{{wo.pk}}">
                <br><br>
            {% endfor %}
                <input type="submit" value="checkBoxes">
        </form>
    </center>
</body>
</html>