<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert_webpage</title>
</head>
<body>
    <center>
        <h1>Insert_webpage</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="tn">Topic_name</label>
            <select name="tn" id="tn">
                {% for to in topic %}
                    <option value="{{to.topic_name}}">{{to.topic_name}}</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="name">Name :</label>
            <input type="text" name="name" id="name"><br> <br>

            <label for="url">URL :</label>
            <input type="url" name="url" id="url"><br> <br>

            <input type="submit" value="Insert_webpage">
        </form>
    </center>
</body>
</html>